<table class="table table-condensed">
  <tr *ngFor="let game of games">
    <td class="col-md-4" [ngClass]="{'bg-success': game.result == 0}">
      {{ game.player1_details.name }}
      <span *ngIf="game.player1_rating_change !== null" class="text-primary">({{ game.player1_rating_change }})</span>
      <em *ngIf="game.player1_character" class="text-danger">{{ game.player1_character }}</em>
    </td>
    <td class="col-md-2" [ngClass]="{'bg-success': game.result == 0}">
      <span *ngFor="let round of game.rounds">
        <span class="label" [ngClass]="getStatusClass(round.player1)" [innerHTML]="getStatusLabel(round.player1)" ></span>
      </span>
    </td>
    <td class="col-md-2 text-right" [ngClass]="{'bg-success': game.result == 1}">
      <span *ngFor="let round of game.rounds">
        <span class="label" [ngClass]="getStatusClass(round.player2)" [innerHTML]="getStatusLabel(round.player2)"></span>
      </span>
    </td>
    <td class="col-md-4 text-right" [ngClass]="{'bg-success': game.result == 1}">
      <em *ngIf="game.player2_character" class="text-danger">{{ game.player2_character }}</em>
      {{ game.player2_details.name }}
      <span *ngIf="game.player2_rating_change !== null" class="text-primary">({{ game.player2_rating_change }})</span>
    </td>
  </tr>
</table>
