<div class="container">
  <div class="header clearfix">
    <h1 class="mt-3 text-muted">{{ season.name}}</h1>
    <h4 *ngIf="!isSeasonFinished(season)">Qualifications from {{ season.start_date|date }} to {{ season.end_date|date }}</h4>
  </div>

  <playoffs [data]="season.playoff_data"></playoffs>

  <div class="row">
    <div class="col-md-5">
      <h4>Ranking</h4>
      <table class="table table-condensed">
        <tr>
          <th class="col-md-1">Rank</th>
          <th>Name</th>
          <th class="col-md-1 text-center">Score</th>
          <th class="col-md-3 text-center">Win rate</th>
        </tr>
        <tr *ngFor="let player of ranking; index as index" [ngClass]="{'bg-info': index < 8}">
          <td>{{ player.rank }}</td>
          <td><a [routerLink]="['/player', player.name]" [queryParams]="{season: season.id}">{{ player.name }}</a></td>
          <td class="text-center">{{ player.rating }}</td>
          <td class="text-center">{{ player.wins / player.games | percent:'1.0-0' }}</td>
        </tr>
      </table>
      <div *ngIf="season.placement_games > 0">
        <h4>Unranked ({{ season.placement_games }} games need to be played)</h4>
        <table class="table table-condensed">
          <tr>
            <th>Name</th>
            <th class="col-md-1 text-center">Played</th>
            <th class="col-md-1 text-center">Score</th>
            <th class="col-md-3 text-center">Win rate</th>
          </tr>
          <tr *ngFor="let player of placement">
            <td><a [routerLink]="['/player', player.name]" [queryParams]="{season: season.id}">{{ player.name }}</a></td>
            <td class="text-center">{{ player.games }}</td>
            <td class="text-center">{{ player.rating }}</td>
            <td class="text-center">{{ player.wins / player.games | percent:'1.0-0' }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4>Last Games</h4>
      <game-list [games]="games"></game-list>
    </div>
  </div>
</div>
