{% extends "front/base.html" %}
{% block instructions_tab_class %}active{% endblock %}
{%block body %}
<div class="container">
  <div class="header clearfix">
    <h1 class="text-muted">Instructions</h1>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>Register</h3>
      <p>In the SmartFighter application, go the "SmartFighter" menu then "Register". Scan your badge and enter your name, then save.</p>
      <h3>Playing games</h3>
      <p>In the game, click on the "SmartFighter button" to display the overlay. Then follow the displayed instructions.</p>
      <p>Each player, will have to "log in" by scanning it's badge, this will displays your name (you have to be registered first). Check that your name is on the right side.</p>
      <p>When both players have logged in, the match is ready. You can start a PvP versus match in the game.</p>
      <p>When a match ends, the results are sent to the website and the ranking is updated. If the same players wants to play another match they can just start a new game without scanning again.</p>
      <p>If a player wants to leave, it has to log out by clicking the "SmartFighter button" twice (one to show the overlay, and one to disconnect). Another player can scan it's badge to take the free slot.</p>
    </div>
  </div>
</div>
{% endblock %}

