{% extends "front/base.html" %}
{% load static %}
{% load ranking %}
{% block ranking_tab_class %}active{% endblock %}
{%block body %}
<div class="container">
  <div class="header clearfix">
    <h1 class="text-muted">{{ season.name}}</h1>
    {% if not is_finished %}<h4>Qualifications from {{ season.start_date|date }} to {{ season.end_date|date }}</h4>{% endif %}
  </div>

  <style>
  .bracket > tbody > tr > td {
    border: 0px;
    padding: 2px;
  }
  .bracket .player {
    border: solid 1px black;
  }
  .bracket .hline {
    border-top: solid 1px black;
  }
  .bracket .vline {
    border-right: solid 1px black;
  }
  </style>

  {% if playoffs %}
  <div class="row">
    <div class="col-md-12">
      <table class="table bracket">
        <tr>
          <th width="200px"></th>
          <th width="25px"></th>
          <th width="25px"></th>
          <th width="200px"></th>
          <th width="25px"></th>
          <th width="25px"></th>
          <th width="200px"></th>
          <th width="25px"></th>
          <th width="25px"></th>
          <th width="200px"></th>
          <th width="25px"></th>
          <th width="25px"></th>
          <th width="200px"></th>
          <th width="25px"></th>
          <th width="25px"></th>
          <th width="200px"></th>
        </tr>

        <!-- Winner Bracket -->
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M1 -->
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M1 -->
          <td class="hline vline"></td>
        </tr>
        <tr>
          <td></td>
          <td class="vline"></td>
          <td></td>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.1.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.1.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R2 M1 -->
        </tr>
        <tr>
          <td></td>
          <td class="vline"></td>
          <td class="hline"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.1.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.1.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R2 M1 -->
          <td class="hline vline" colspan="4"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.1.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.1.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M2 -->
          <td class="vline"></td>
          <td colspan="5"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.1.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.1.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M2 -->
          <td class="hline"></td>
          <td colspan="5"></td>
          <td class="vline"></td>
        </tr>

        <tr>
          <td></td>
          <td colspan="6"></td>
          <td class="vline"></td>
          <td></td>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.2.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.2.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R3 -->
        </tr>
        <tr>
          <td></td>
          <td colspan="6"></td>
          <td class="vline"></td>
          <td class="hline"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.2.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.2.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R3 -->
          <td class="hline vline"></td>
        </tr>

        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.2.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.2.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M3 -->
          <td></td>
          <td></td>
          <td colspan="4"></td>
          <td class="vline"></td>
          <td colspan="2"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.2.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.2.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M3 -->
          <td class="hline vline"></td>
          <td colspan="5"></td>
          <td class="vline"></td>
          <td colspan="2"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td></td>
          <td class="vline"></td>
          <td></td>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.1.1.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.1.1.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R2 M2 -->
          <td colspan="3"></td>
          <td class="vline"></td>
          <td colspan="2"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td></td>
          <td class="vline"></td>
          <td class="hline"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.1.1.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.1.1.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R2 M2 -->
          <td class="hline" colspan="4"></td>
          <td colspan="2"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.3.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.3.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M4 -->
          <td class="vline"></td>
          <td colspan="8"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.winner.0.3.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.winner.0.3.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- WB R1 M4 -->
          <td class="hline"></td>
          <td colspan="8"></td>
          <td class="vline"></td>
        </tr>

        <!-- Final -->
        <tr>
          <td></td>
          <td colspan="9"></td>
          <td class="vline"></td>
          <td></td>
          <td class="player">
            <bracket-player match="Final" team="1"></bracket-player>
            <span>
              <span>{{ playoffs.finals.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.finals.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- Final -->
        </tr>
        <tr>
          <td></td>
          <td colspan="9"></td>
          <td class="vline"></td>
          <td class="hline"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.finals.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.finals.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- Final -->
        </tr>

        <!-- Loser Bracket -->
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.0.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.0.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R1 M1 -->
          <td colspan="2"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.1.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.1.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R2 M1 -->
          <td></td>
          <td colspan="5"></td>
          <td class="vline"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.0.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.0.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R1 M1 -->
          <td class="hline" colspan="2"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.1.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.1.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R2 M1 -->
          <td class="hline vline"></td>
          <td colspan="5"></td>
          <td class="vline"></td>
        </tr>

        <tr>
          <td></td>
          <td colspan="2"></td>
          <td></td>
          <td class="vline"></td>
          <td></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.2.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.2.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R3 M1 -->
          <td colspan="2"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.3.0.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.3.0.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R4 M1 -->
          <td class="vline"></td>
        </tr>
        <tr>
          <td></td>
          <td colspan="3"></td>
          <td class="vline"></td>
          <td class="hline"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.2.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.2.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R3 M1 -->
          <td class="hline" colspan="2"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.3.0.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.3.0.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R4 M1 -->
          <td class="hline"></td>
        </tr>

        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.0.1.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.0.1.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R1 M2 -->
          <td colspan="2"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.1.1.player1 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.1.1.score1|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R2 M2 -->
          <td class="vline"></td>
        </tr>
        <tr>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.0.1.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.0.1.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R1 M2 -->
          <td class="hline" colspan="2"></td>
          <td class="player">
            <span>
              <span>{{ playoffs.loser.1.1.player2 }}</span>
              <span class="badge pull-right">{{ playoffs.loser.1.1.score2|default_if_none:"&nbsp;"}}</span>
            </span>
          </td><!-- LB R2 M2 -->
          <td class="hline"></td>
        </tr>
      </table>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col-md-5">
      <h4>Ranking</h4>
      <table class="table table-condensed">
        <tr>
          <th class="col-md-1">Rank</th>
          <th>Name</th>
          <th class="col-md-1 text-center">Score</th>
          <th class="col-md-3 text-center">Win rate</th>
        </tr>
        {% for results in ranking %}
        {% with player=results.player %}
        <tr{% if forloop.counter < 9 %} class="bg-info"{% endif %}>
          <td>{% ifchanged results.elo_rating %}{{ forloop.counter }}{% else %}-{% endifchanged %}</td>
          <td><a href="{% url 'player' name=player.name %}?season={{ season.id }}">{{ player.name }}</a></td>
          <td class="text-center">{{ results.elo_rating }}</td>
          <td class="text-center">{{ player | win_percentage }}%</td>
        </tr>
        {% endwith %}
        {% endfor %}
      </table>
      <h4>Unranked (15 games need to be played)</h4>
      <table class="table table-condensed">
        <tr>
          <th>Name</th>
          <th class="col-md-1 text-center">Played</th>
          <th class="col-md-1 text-center">Score</th>
          <th class="col-md-3 text-center">Win rate</th>
        </tr>
        {% for results in placement %}
        {% with player=results.player %}
        <tr>
          <td><a href="{% url 'player' name=player.name %}?season={{ season.id }}">{{ player.name }}</a></td>
          <td class="text-center">{{ player.games_as_first_player.count|add:player.games_as_second_player.count }}</td>
          <td class="text-center">{{ results.elo_rating }}</td>
          <td class="text-center">{{ player | win_percentage }}%</td>
        </tr>
        {% endwith %}
        {% endfor %}
      </table>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <h4>Last Games</h4>
      <table class="table table-condensed">
        {% for game in games %}
        <tr>
          <td class="col-md-4{% if game.result == 0 %} bg-success{% endif %}">{{ game.player1 }}</td>
          <td class="col-md-2{% if game.result == 0 %} bg-success{% endif %}">
            {% for round in game.rounds %}
            {% if round.player1 == 1 %}
            <span class="label label-default">&nbsp;</span>
            {% elif round.player1 == 2 %}
            <span class="label label-success">V</span>
            {% elif round.player1 == 3 %}
            <span class="label label-warning">CA</span>
            {% elif round.player1 == 4 %}
            <span class="label label-primary">EX</span>
            {% elif round.player1 == 5 %}
            <span class="label label-default">C</span>
            {% elif round.player1 == 6 %}
            <span class="label label-danger">P</span>
            {% elif round.player1 == 7 %}
            <span class="label label-default">T</span>
            {% elif round.player1 == 8 %}
            <span class="label label-info">D</span>
            {% endif %}
            {% endfor %}
          </td>
          <td class="col-md-2 text-right{% if game.result == 1 %} bg-success{% endif %}">
            {% for round in game.rounds %}
            {% if round.player2 == 1 %}
            <span class="label label-default">&nbsp;</span>
            {% elif round.player2 == 2 %}
            <span class="label label-success">V</span>
            {% elif round.player2 == 3 %}
            <span class="label label-warning">CA</span>
            {% elif round.player2 == 4 %}
            <span class="label label-primary">EX</span>
            {% elif round.player2 == 5 %}
            <span class="label label-default">C</span>
            {% elif round.player2 == 6 %}
            <span class="label label-danger">P</span>
            {% elif round.player2 == 7 %}
            <span class="label label-default">T</span>
            {% elif round.player2 == 8 %}
            <span class="label label-info">D</span>
            {% endif %}
            {% endfor %}
          </td>
          <td class="col-md-4 text-right{% if game.result == 1 %} bg-success{% endif %}">{{ game.player2 }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
